#btnStatus{
    font-family: 'Redressed', cursive;
}

#btnFriends{
    font-family: 'Redressed', cursive;
    font-size: larger;
}

#btnGroups{
    font-family: 'Redressed', cursive;
    font-size: larger;
}

#spanMessages{
    
}